
<video #video>Video stream not available.</video>
<canvas #canvas (window:resize)="onResize($event)" (click)="canvasClick($event)"></canvas>

<div #shapes id="shapes">
    Shapes:
    <button (click)="shapeClick('sphere')">Sphere</button>
    <button (click)="shapeClick('box')">Box</button>
    <button (click)="shapeClick('torus')">Torus</button>
</div>

<div #arTypes id="arTypes">
        AR Types:
        <button (click)="arTypeClick('basic')">Basic overlay</button>
        <button (click)="arTypeClick('trackHiro')">Track hiro image</button>
        <button (click)="arTypeClick('trackTexture')">Track texture</button>
</div>